// screens
$screen-desktop: 1440px;

// text colors
$text-color--keys-changing: #2A2C2B;
$text-color--keys-permanent: #ffffff;

// background colors
$bg-color--light: #ffffff;

$bg-color--keybord:  #BDC3C7;
$bg-color--keys-changing: #374140;
$bg-color--keys-permanent: #26A69A;

// fonts
$font-family--1: "Roboto", "Arial", sans-serif;



